---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import HeroImage from '../components/HeroImage.astro';
import SongkickWidget from '../components/SongkickWidget.astro';
import TourDatesHeading from '../components/TourDatesHeading.astro';
import ExternalLinks from '../components/ExternalLinks.astro';
import HeroWrapper from '../components/HeroWrapper.astro';
import HeroLogo from '../components/HeroLogo.astro';
import Section from '../components/Section.astro';
import TourDatesWrapper from '../components/TourDatesWrapper.astro';
import HeroHeading from '../components/HeroHeading.astro';
---

<Layout>
  <Section id="home">
    <HeroWrapper>
      <HeroHeading>Young Gun Silver Fox</HeroHeading>
      <HeroImage />
      <HeroLogo />
    </HeroWrapper>
    <ExternalLinks />
  </Section>
  <Section id="tour-dates">
    <TourDatesWrapper>
      <TourDatesHeading>All Tour Dates</TourDatesHeading>
      <SongkickWidget />
    </TourDatesWrapper>
  </Section>
</Layout>
