---
import Link from '../components/Link.astro';
---

<nav
  class="flex items-center justify-center flex-wrap gap-6 h-auto md:h-24 text-center py-4 md:sticky md:top-0 bg-background"
>
  <div>
    <Link href="https://candelionmusic.myshopify.com/collections/yg-shop-all">
      Merch &gt;
    </Link>
  </div>
  <div>
    <Link
      href="https://open.spotify.com/artist/3qQloBz05T6e0rKubNCmjG?si=pjFFTBweTyOx52FOw11gaw&nd=1"
    >
      Spotify &gt;
    </Link>
  </div>
  <div>
    <Link href="https://www.facebook.com/younggunsilverfox/">
      Facebook &gt;
    </Link>
  </div>
  <div>
    <Link href="https://www.youtube.com/@YoungGunSilverFox">YouTube &gt;</Link>
  </div>
</nav>
