---
import Logo from "../components/Logo.astro";
---

<footer>
  <div class="flex items-center justify-center h-32 md:h-48 text-text pt-6">
    <Logo />
  </div>
  <p class="font-chicle text-text text-center py-4">
    © {new Date().getFullYear()}, Young Gun Silver Fox
  </p>
</footer>
