<a
  href="http://www.songkick.com/artists/8869659"
  class="songkick-widget"
  data-theme="light"
  data-detect-style="true"
  data-background-color="transparent"
  data-font-color="#00202C"></a>
<script src="//widget.songkick.com/widget.js" is:inline></script>
