---
import SongkickWidget from './SongkickWidget.astro';
import TourDatesHeading from './TourDatesHeading.astro';
---

<section id="tour-dates">
  <div class="py-10 md:py-28 w-full max-w-4xl m-auto">
    <slot />
  </div>
</section>
