---
import { renderImg } from '../../node_modules/astro-imagetools/api';
import Footer from '../components/Footer.astro';
import '../styles/font.css';

const { link } = await renderImg({
  src: '/public/ygsf.jpeg',
  alt: 'Young Gun Silver Fox',
  quality: 50,
  preload: 'jpeg'
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Young Gun Silver Fox</title>
    <meta
      name="description"
      content="UK based British/American West Coast Yacht Rock duo"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <Fragment set:html={link} />
    <link
      rel="preload"
      href="chicle-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="chicle-latin-ext-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
      rel="stylesheet"
      type="text/css"
    />
    <style is:global>
      #mc_embed_signup {
        clear: left;
        font: inherit;
        width: 100%;
        max-width: 600px;
        margin: auto;
      }

      #mc_embed_signup p {
        margin: 8px 0;
      }

      #mc-embedded-subscribe-form input[type='checkbox'] {
        display: inline;
        width: auto;
        margin-right: 10px;
      }

      #mergeRow-gdpr {
        margin-top: 20px;
      }

      #mergeRow-gdpr fieldset label {
        font-weight: normal;
      }

      #mc-embedded-subscribe-form .mc_fieldset {
        border: none;
        min-height: 0px;
        padding-bottom: 0px;
      }
    </style>
    <script>
      // @ts-expect-error
      !(function (f, b, e, v, n, t, s) {
        // @ts-expect-error
        if (f.fbq) return;
        // @ts-expect-error
        n = f.fbq = function () {
          // @ts-expect-error
          n.callMethod
            ? // @ts-expect-error
              n.callMethod.apply(n, arguments)
            : // @ts-expect-error
              n.queue.push(arguments);
        };
        // @ts-expect-error
        if (!f._fbq) f._fbq = n;
        // @ts-expect-error
        n.push = n;
        // @ts-expect-error
        n.loaded = !0;
        // @ts-expect-error
        n.version = '2.0';
        // @ts-expect-error
        n.queue = [];
        // @ts-expect-error
        t = b.createElement(e);
        // @ts-expect-error
        t.async = !0;
        // @ts-expect-error
        t.src = v;
        // @ts-expect-error
        s = b.getElementsByTagName(e)[0];
        // @ts-expect-error
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        'script',
        'https://connect.facebook.net/en_US/fbevents.js'
      );
      // @ts-expect-error
      fbq('init', '974263869333378');
      // @ts-expect-error
      fbq('track', 'PageView');
      // @ts-expect-error
      fbq('init', '1819927092177976');
      // @ts-expect-error
      fbq('track', 'PageView');
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1819927092177976&ev=PageView&noscript=1"
      /></noscript
    >
    <noscript>
      <img
        height="1"
        width="1"
        src="https://www.facebook.com/tr?id=974263869333378&ev=PageView
      &noscript=1"
      />
    </noscript>
  </head>
  <body class="bg-background p-2 md:p-3">
    <main class="relative">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        font-family: Helvetica, Arial, system-ui, sans-serif;
      }
    </style>
  </body>
</html>
